@font-face {
    font-family: 'Lora';
    src: local('Lora-Regular'),url('./fonts/Lora/Lora-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lora';
    src: local('Lora-Italic'),url('./fonts/Lora/Lora-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Lora';
    src: local('Lora-Bold'),url('./fonts/Lora/Lora-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
